@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    background-color: #3b3b98;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-center {
    background-color: #23235b;
    padding: 20px;
    height: fit-content;
    max-width: 100%;
    width: 350px;
}

.header {
    height: 50px;
    width: fit-content;
    margin: 5px auto 10px;
    color: #ffffff;
}

.password {
    height: 47px;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}

#result {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    /* 文字垂直居中 ref: https://blog.csdn.net/Dzq_Boyka/article/details/54585435 */
    line-height: 45px;
    /* 文本滚动展示 */
    max-width: calc(100% - 45px);
    word-wrap: break-word;
    overflow-y: scroll;
}

#result::-webkit-scrollbar {
    /* 隐藏滚动条 ref: https://segmentfault.com/a/1190000019710081 */
    /* display: none; */
    width: 1rem;
}

.password button.copy-clipboard {
    padding: 0;
    border: 0;
    height: 100%;
    width: 45px;
    background-color: #3b3b98;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
}

.options .option {
    padding: 10px 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.generate {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    background-color: #3b3b98;
    color: #ffffff;
    cursor: pointer;
}